<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
	<integer>0</integer>
    <string>http://thinkamingo.com/app-updates/name-dice-about/About.html</string>
    <string>About.html</string>
	<string>http://thinkamingo.com/app-updates/name-dice/Wood-Lists-for-Writers-1.png</string>
	<string>Wood-Lists-for-Writers-1.png</string>
	<string>http://thinkamingo.com/app-updates/name-dice/Wood-Story-Dice-1.png</string>
	<string>Wood-Story-Dice-1.png</string>
    </array>
</plist>
