<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>house-ads.plist</string>
		<string>Lists-for-Writers-Test-1.png</string>
		<string>Story-Dice-Test-1.png</string>
		<string>Sports-Cards.png</string>
		<string>Spy-Tools.png</string>
    </array>
</plist>
