<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>Lists-for-Writers-Ad-2.png</string>
		<key>weight</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://thinkamingo.com/lists-for-writers</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Story-Dice-Ad-2.png</string>
		<key>weight</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://thinkamingo.com/story-dice</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Test.png</string>
		<key>weight</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://thinkamingo.com/story-dice</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Test-2.png</string>
		<key>weight</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://thinkamingo.com/story-dice</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Story-Dice-1.png</string>
		<key>weight</key>
		<integer>8</integer>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/story-dice-creative-storytelling/id525351988?mt=8&amp;at=11l5Pp&amp;ct=ndad</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Lists-for-Writers-1.png</string>
		<key>weight</key>
		<integer>8</integer>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/lists-for-writers/id506577862?mt=8&amp;at=11l5Pp&amp;ct=ndad</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Story-Dice-1.png</string>
		<key>weight</key>
		<integer>2</integer>
		<key>url</key>
		<string>http://thinkamingo.com/story-dice/?src=nd</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Lists-for-Writers-1.png</string>
		<key>weight</key>
		<integer>2</integer>
		<key>url</key>
		<string>http://thinkamingo.com/lists-for-writers/?src=nd</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Spy-Tools.png</string>
		<key>weight</key>
		<integer>8</integer>
		<key>url</key>
		<string>http://itunes.apple.com/us/app/id549990577?mt=8&amp;at=11l5Pp&amp;ct=ndad</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Spy-Tools.png</string>
		<key>weight</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://thinkamingo.com/spy-tools/?src=nd</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Sports-Cards.png</string>
		<key>weight</key>
		<integer>6</integer>
		<key>url</key>
		<string>http://thinkamingo.com/sports-card-pro-series/?src=nd</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Story-Spark.png</string>
		<key>weight</key>
		<integer>6</integer>
		<key>url</key>
		<string>http://thinkamingo.com/story-spark/?src=nd</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wood-Story-Spark.png</string>
		<key>weight</key>
		<integer>18</integer>
		<key>url</key>
		<string>https://itunes.apple.com/us/app/story-spark-spark-creativity/id586718796?mt=8&amp;at=11l5Pp&amp;ct=ndad</string>
	</dict>
</array>
</plist>
